@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Raleway:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
:root {
    --white: #fefefe;
    --black: #333333;
    --gray: #ebebeb;
    --dark-gray: #999999;
    --orange-2: #F48116;
    --orange: #EB8738;
    --matcha: #B4E649;
    --deep-ocean: #0928CE;
    --lavender: #9667C5;
    --red: #E63001;
    --raspberry: #DB192D;
    --golden: #F5EC4D;
}

* {
    font-family: 'Manrope', sans-serif;
    outline: none;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    /* background: rgba(235, 135, 56, 0.05); */
    font-family: 'Mabrope', sans-serif;
    width: 100%;
}

@media screen and (min-width: 1025px) {
    html {
        font-size: 14px;
    }
    .calendar-box {
        flex-direction: row;
    }
    .calendar-box>div:first-child+div:not(:last-child) {
        margin-left: -0.2rem;
        margin-right: -0.2rem;
    }
    .box {
        padding: 5rem 10rem;
    }
    .modal-container {
        min-width: 43rem;
    }
    .more {
        gap: 15rem;
    }
    .modal-container span {
        margin: -1rem -5rem 0rem 0rem;
    }
    .color-box {
        height: 10rem;
        width: 25rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    html {
        font-size: 13px;
    }
    .calendar-box {
        flex-direction: column;
    }
    .calendar-box>div:first-child+div:not(:last-child) {
        margin-top: -0.2rem;
        margin-bottom: -0.2rem;
    }
    .box {
        padding: 5rem 8rem;
    }
    .more {
        gap: 5rem;
    }
    .modal-container span {
        margin: -1rem -4rem 0rem 0rem;
    }
    .color-box {
        height: 8rem;
        width: 20rem;
    }
}

@media screen and (max-width: 767px) {
    html {
        font-size: 12px;
    }
    .calendar-box {
        flex-direction: column;
    }
    .calendar-box>div:first-child+div:not(:last-child) {
        margin-top: -0.2rem;
        margin-bottom: -0.2rem;
    }
    .box {
        padding: 5rem;
    }
    .more {
        gap: 5rem;
    }
    .modal-container span {
        margin: -1rem -2rem 0rem 0rem;
    }
    .color-box {
        height: 6rem;
        width: 13rem;
    }
}


/* button style */

.button {
    cursor: pointer;
    padding: .5rem 6rem;
    /* background-color: var(--orange); */
    border: 0.15rem solid var(--black);
    transition: all .3s ease-in-out;
}

.button:hover {
    /* box-shadow: .3rem .3rem var(--orange); */
    transform: translate(-0.2rem, -0.2rem);
}

.button:active {
    box-shadow: none;
    transform: translate(0rem, 0rem);
}


/* text styles */

.small-text {
    color: var(--black);
    font-weight: 300;
    line-height: 160%;
    font-size: 1rem;
    letter-spacing: .05rem;
}

.medium-text {
    color: var(--black);
    line-height: 160%;
    font-weight: 400;
    font-size: 1.2rem;
}

.subheading {
    color: var(--black);
    line-height: 160%;
    font-weight: 500;
    font-size: 1.3rem;
}

.heading {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: var(--black);
    font-weight: 500;
    font-size: 4rem;
    height: auto;
}

.number-text {
    font-family: 'Raleway', sans-serif;
    color: var(--black);
    font-weight: 500;
    font-size: 8rem;
    margin: 0rem;
}

.white-text {
    color: var(--white);
}

.gray-text {
    color: var(--dark-gray);
}

.black-text {
    color: var(--black);
}


/* animations appearance */

.smoothly-appearing.appeared {
    animation-name: smooth-appearance;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transition: all 2s ease-in-out;
}

.appearing.appeared {
    animation-name: appearance;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transition: all 2s ease-in-out;
}

.disappearing.appeared {
    animation-name: disappearance;
    animation-duration: 2s;
    animation-iteration-count: 1;
    transition: all 2s ease-in-out;
}

.top-appearance.appeared {
    animation-name: top-appearance;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: all 1s ease-in-out;
}

.bottom-appearance.appeared {
    animation-name: bottom-appearance;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: all 1s ease-in-out;
}

.bottom-disappearance.appeared {
    animation-name: bottom-disappearance;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: all 1s ease-in-out;
}

.top-disappearance.appeared {
    animation-name: top-disappearance;
    animation-duration: 1s;
    animation-iteration-count: 1;
    transition: all 1s ease-in-out;
}

.total-top-disappearance.appeared {
    animation-name: total-top-disappearance;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    transition: all 1s ease-in-out;
}


/* animations */

@keyframes bottom-appearance {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes top-appearance {
    0% {
        transform: translateY(-20%);
        opacity: 0;
    }
    100% {
        transform: translateY(0%);
        opacity: 1;
    }
}

@keyframes smooth-appearance {
    0% {
        transform: scale(80%);
        opacity: 0;
    }
    100% {
        transform: scale(100%);
        opacity: 1;
    }
}

@keyframes appearance {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes disappearance {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes total-top-disappearance {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-100%);
    }
}

@keyframes top-disappearance {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(-20%);
        opacity: 0;
    }
}

@keyframes bottom-disappearance {
    0% {
        transform: translateY(0%);
        opacity: 1;
    }
    100% {
        transform: translateY(20%);
        opacity: 0;
    }
}

.main-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* greeting */

#start-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    width: 100%;
    /* background: var(--orange); */
    height: 100vh;
}

#greeting-container {
    visibility: hidden;
}

#greeting-container.appeared {
    visibility: visible;
}

.box {
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 7rem;
    border: 0.2rem solid var(--black);
}

.input-data {
    position: relative;
    height: 2.86rem;
    width: 18rem;
}

.input-data input {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    background: transparent;
    border-bottom: 0.2rem solid var(--gray);
}

.input-data input:focus~label,
.input-data input:valid~label {
    bottom: 1rem;
    transform: translateY(-2rem);
    font-size: 1rem;
}

.input-data label {
    position: absolute;
    bottom: 0.86rem;
    left: 0.715rem;
    color: var(--dark-gray);
    transition: all 0.3s ease;
}

.input-data .underline {
    position: absolute;
    height: 0.2rem;
    width: 100%;
    bottom: 0;
}

.input-data .underline:before {
    position: absolute;
    height: 100%;
    width: 100%;
    content: "";
    /* background: var(--orange); */
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.input-data input:focus~.underline:before,
.input-data input:valid~.underline:before {
    transform: scaleX(1);
}


/* modal */

.modal-container p {
    text-align: center;
}

.modal-container p:first-child {
    margin: 0rem auto 1rem auto;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}

.modal-content button {
    margin-top: 10rem;
}

.modal {
    z-index: -1;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0);
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s, background-color .5s;
}

.is-open {
    z-index: 11;
    opacity: 1;
    pointer-events: all;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    width: auto;
    height: auto;
}


/* header */

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    height: 4rem;
    width: 100%;
    border-bottom: .2rem solid var(--black);
    background: transparent;
}

a {
    text-decoration: none;
    color: var(--dark-gray);
    transition: all .3s ease-in-out;
}

.header a:hover {
    transform: scale(105%);
    margin: 0rem 1rem;
    color: var(--black);
}


/* main part */

#main-container {
    visibility: hidden;
    height: 0;
}

#main-container.appeared {
    visibility: visible;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 1rem;
    width: 100%;
    height: auto;
    max-width: 1300px;
    min-height: 100vh;
}

.month {
    margin: 5rem 0rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.month p {
    text-align: left;
}

.calendar-box {
    display: flex;
}

.calendar-subbox {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    border: 0.2rem solid var(--black);
}

.day {
    flex-grow: 1;
}

.planner {
    flex-grow: 3;
    gap: 2rem;
}

.input-task {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.task-input {
    background-color: transparent;
    width: 100%;
    padding: 0.5rem 1rem;
    border: 0.15rem solid var(--black);
    border-right: none;
}

#add {
    cursor: pointer;
    padding: .5rem 1.5rem;
    /* background-color: var(--orange); */
    border: 0.15rem solid var(--black);
    transition: all .3s ease-in-out;
}

.icon {
    margin: auto;
    width: 1.7rem;
    height: 1.7rem;
    transition: all .3s ease-in-out;
}

#add:hover>.icon {
    transform: rotate(90deg);
}

#add:hover>p {
    transform: scale(140%);
}

#add:active>p {
    transform: scale(120%);
}

.task-list {
    width: 100%;
}

#tasks {
    width: 100%;
}

ul {
    padding: 1rem;
}

ul li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: .8rem;
    list-style: none;
    cursor: pointer;
}

ul li::before {
    content: "";
    height: 1.7rem;
    width: 1.7rem;
    background: url(../../images/unchecked.svg);
    background-position: center center;
    background-size: cover;
}

ul li.checked {
    text-decoration: line-through;
}

ul li.checked span {
    text-decoration: none;
}

ul li.checked::before {
    left: 0rem;
    background-position: center center;
    background-size: cover;
}

span {
    align-self: flex-end;
    background: url(../../images/delete.svg);
    background-position: center center;
    background-size: cover;
    padding: auto;
    margin: 0rem .5rem 0rem auto;
    width: 1.7rem;
    height: 1.7rem;
    cursor: pointer;
}

span:hover {
    transform: scale(105%);
}

.more {
    align-items: center;
    flex-grow: 1;
}

.statistics {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.statistics>p:first-child {
    align-self: flex-start;
}

.statistics>p:last-child {
    align-self: flex-end;
}

#pomodoro {
    justify-self: flex-end;
}

.timer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


/* settings page */

#settings-container {
    visibility: hidden;
    height: 0;
}

#settings-container.appeared {
    visibility: visible;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 5rem;
    padding: 1rem;
    width: 100%;
    height: auto;
    max-width: 1300px;
    min-height: 100vh;
}

#settings-container>div>p:first-child {
    align-self: flex-start;
}

.subbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;
}

.color-boxes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.color-box {
    border: .2rem solid var(--black);
}

.color-box:last-child {
    background: var(--white);
}

#clockwork-orange-1 {
    background: var(--orange);
}

#clockwork-orange-2 {
    background: rgba(235, 135, 56, 0.05);
}

#golden-retriever-1 {
    background: var(--golden);
}

#golden-retriever-2 {
    background: rgba(236, 226, 69, 0.05);
}

#matcha-1 {
    background: var(--matcha);
}

#matcha-2 {
    background: rgba(180, 230, 73, 0.05);
}

#red-1 {
    background: var(--red);
}

#red-2 {
    background: rgba(230, 48, 1, 0.05);
}

#raspberry-1 {
    background: var(--raspberry);
}

#raspberry-2 {
    background: rgba(219, 25, 45, 0.05);
}

#lavender-1 {
    background: var(--lavender);
}

#lavender-2 {
    background: rgba(150, 103, 197, 0.05);
}

#ocean-1 {
    background: var(--deep-ocean);
}

#ocean-2 {
    background: rgba(0, 40, 206, 0.05);
}


/* profile page */

#profile-container {
    visibility: hidden;
    height: 0;
}

#profile-container.appeared {
    visibility: visible;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding: 1rem;
    width: 100%;
    height: auto;
    max-width: 1300px;
    min-height: 100vh;
}

#profile-container>div>p:first-child {
    align-self: flex-start;
}


/* footer */

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    width: 100%;
    height: 10rem;
    text-align: center;
    background: var(--black);
}